{% extends 'base.html.twig' %}

{% block title %}Hello SportController!{% endblock %}

{% block content %}
<div class="headline">
    <h1 class="mt-4">Sport</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{{ path('listesport') }}">Sport</a></li>
            <li class="breadcrumb-item active">Import</li>
        </ol>

    <div class="inner">
        <p>Importation des différents sports grâce à un ficher externe sous Excel.</p>
    </div>
</div>

<main>
    <div class="container-fluid">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-file-import mr-1"></i>
                    Sport import
            </div>

            <div class="card-body">
                {{ form(my_form) }}
            </div>
        </div>
    </div>
</main>
{% endblock %}